* {
    max-width: 100%;
    box-sizing: border-box;
  }
 /**/
  body {
    font-family:  "Roboto", sans-serif;
    line-height: 1.2;
    color: #000;
    margin: 0;          
    padding: 0;
    width: 100%;
    font-weight: 400;
}
  /**/
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    /*background-color: #20242c;*/
}
.imgcontainer{
  width: 100%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure image fills container without distortion */
  display: block; /* Prevent default line breaks */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}
  /**/
.navbar {
    position: fixed;
    width: 200%;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    text-decoration: none;
    font-size: 25px;
}
.navbar a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    background-image: url('#');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #20242c;
    z-index: 9999;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    }
      /**/
.top{
    position: fixed;
    width: 100%;
    z-index: 9999; /* Lower z-index than navbar */
}
/**/
.topticker-widget {
    position: fixed;
    z-index: 9996; /* Lower z-index than navbar */
    width: 100%;
}
  /**/
.navlinks {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-image: url('#');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #20242c;
    color: #fff;
}
.navlinks a:active, a:hover,a:visited  {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-image: url('#');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #20242c;
    z-index: 9999;
    padding-left: 10px;
    padding-right: 15px;
    
}
  /**/
.logo, .logo a, .logo:hover, .logo:active, .logo a:visited {
    font-size: .81em;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 9999;
    background-color: #20242c;
    color: #fff;

  }
  /**/

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
  /**/
.tradingview-widget-container {
    flex-grow: 1;
}
  /**/
.hero{
    width: 100%;
    height: auto;
    background-color: #20242c;
    margin-top: 10px;
    padding-top: 140px;
    padding-left: 140px;
    padding-bottom: 120px;
    background-image: url(/img/chalkboard.png);*/


}

.hero h1{
    color: #fff;
    font-size: 3em;
    width: 40%;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero p {
    color: #fff;
    font-size: 1.5em;
    background-image: inherit;
    background-color: inherit;
}
  /**/
.button1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #666;
  color: #fff;
  /*border: 1px solid black;*/
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out;
  border: none;
  }
  .button {
    background-color: #2db856;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
    border: none;
  }

  .button a {
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: inherit;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #666;
    border: none;
    color: #fff;
    text-decoration: none;
   
  }
  .button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    /*border: 1px solid black;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
    border: none;
  }
  
  .button1:hover {
    background-color: #000;
    border: none;
    color: #fff;
  }
  /**/
  .button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #20242c;
    color: #fff;
    /*border: 1px solid black;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    border: none;

  }
  
  .button2:hover {
    background-color: #2db856;
    border: none;
    color: #fff;
  }
  /*desktop*/
  .button3 {
    display: inline-block;
    padding: 10px;
    background-color: #0ca6ee;
    color: #fff;
    /*border: 1px solid black;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: .9em;
    transition: background-color 0.3s ease-in-out;
    border: none;
    overflow: hidden;
    text-decoration: none;
    size: fixed;
    margin-left: 40px;

  }
   .button3:hover, .button3:active, {
    background-color: #20242c;
    border: none;
    border-radius: inherit;
    color: #fff;
    font-size: .9em;
    overflow: hidden;
    text-decoration: none;
    cursor: inherit;
    size: fixed;

   }
   .button3 a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    font-size: inherit;
    cursor: inherit;
    size: fixed;

   }

  /**/
.callrow {
    width: 100%;
    text-align: center;
    padding-bottom: px;
    background-color: #fff;
    margin-top: 0px;
    text-align: center;
  
}
.callrow h1 {
    font-size: 2.6em;
    color: #000;
    font: "roboto";
    font-weight: 400;

}
.callrow p {
    font-size: 1.4em;
    color: #000;
    text-align: center;
    font-weight: 300;
    background-color: inherit;
    width: 100%;
    text-align: center;

}
/**/
.callrow2 {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
  background-color: #20242c;
  margin-top: 0px;

}
.callrow2 h1 {
  font-size: 2.6em;
  color: #fff;
  font: "roboto";
  font-weight: 400;

}
.callrow2 p {
  font-size: 1.4em;
  color: #fff;
  text-align: center;
  font-weight: 300;
  background-color: inherit;


}
/**/
.card-container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    width: auto;
    margin:80px;
    background-image: url("/img/carousel-1.jpg");*/
   background-color: #f0f0f0; /* Light grey background */
  }
.card {
    width: 30%;
    height: flex;
    padding: 20px;
    border-radius: 5px;
   /* background-color: rgb(217, 223, 226);*/
   background-color: #0d1c2e7a;
}

.card h1{
    font-size: 1.4em;
    color: #fff;
    font-weight: 400 ;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}
.card p{
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
    background-color: transparent;
}
/**/
.card1 {
  width: 30%;
  height: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(149, 161, 167);
  }

.card1 h1{
  font-size: 1.4em;
  color: #000;
  font-weight: 400 ;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}

/**/
.card1 p{
  font-size: 1.2em;
  color: #000;
  font-weight: 300;
  background-color: inherit;
}
/**/
.card2 {
  width: 30%;
  height: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(121, 131, 136);
}

.card2 h1{
  font-size: 1.4em;
  color: #000;
  font-weight: 400 ;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}
.card2 p{
  font-size: 1.2em;
  color: #000;
  font-weight: 300;
  background-color: inherit;
}
.card3 {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color:#fff; 
    height: flex;

}

.card3 h1{
  font-size: 2.4em;
  color: #000;
  font-weight: 500 ;
  text-align: center;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}
.card3 p{
  font-size: 1.2em;
  color: #000;
  font-weight: 300;
  background-color: inherit;
}
.card3 li {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.9rem;
}
/**/
.topline {
  color: #fff;
  background-color: #20242c;
  width: 100%; 
  padding-top: 40px;
  height: auto;
}
.topline p {
  width: 50%;
  padding: 20px;
  font-weight: 500;
  font-size: 1em;

}
  /**/
    
    
  .card4 {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  height: flex;
}

.card4 h1{
  font-size: 1.4em;
  color: #fff;
  font-weight: 500 ;
  text-align: center;
  background-color: #000;
  display: inline-block;
  padding: 10px;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}
.card4 p{
  font-size: 1.2em;
  color: #000;
  font-weight: 300;
  background-color: inherit;
}
.card4 li {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.9rem;
}
  /**/
    
    
  .card5 {
  width: 100%;
  margin: 0 auto;
  height: flex;
  padding: 20px;
  background-color:#fff;
  margin-bottom: px;
  height: flex;
 /* background-image: url("/img/chartss.jpg");*/
}

.card5 h1{
  font-size: 1.4em;
  color: #000;
  font-weight: 500 ;
  text-align: center;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
}
.card5 p{
  font-size: 1.2em;
  color: #000;
  font-weight: 400;
  background-color: transparent;
  display: inline-block;

}
.card5 li {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.9rem;
  color:#000;
}
   /**/
.bluecontainer {
    width: 100%;

}
.bluerow {
   display: flex;
   flex-wrap: wrap;
   /*margin: 0px;*/
   width: 100%;
  height: auto;
  background-color: #0ca6ee;
  padding: 20px;
}
.bluecolumn {
    flex: 1;
    padding: px;
    width: 100%;
}

.bluecontent1 {
  background-color: #0ca6ee;
  padding: 20px;
  color: #fff;
  font-weight: 300;
  /*border-top: 1px solid #000; /* Top border, 1 pixel thick, black */
 /* border-bottom: 1px solid #000; /* Bottom border, 1 pixel thick, black */
 /* border-left: 1px solid #fff;*/
  padding-top: 10px; /* Adjust the padding value as needed */
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.bluecontent1 h2 {
  font-size: 1em ;
  font-weight: 300;
  color: #fff;
}
.bluecontent1 p {
  font-size: .75 em ;
  font-weight: 500;
  color: #fff;
  background-color: inherit;}

.bluecontent {
    background-color: #0ca6ee;
    padding: 20px;
    color: #fff;
    font-weight: 300;
    /*border-top: 1px solid #000; /* Top border, 1 pixel thick, black */
   /* border-bottom: 1px solid #000; /* Bottom border, 1 pixel thick, black */
    border-left: 1px solid #fff;
    padding-top: 10px; /* Adjust the padding value as needed */
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bluecontent h2 {
  font-size: 1em ;
  font-weight: 300;
  color: #fff;
}
.bluecontent p {
  font-size: .75 em ;
  font-weight: 500;
  color: #fff;
  background-color: inherit;

}
  /**/
.chatroomcontent {
    background-color: #0ca6ee;
    padding: 40px;
    color: #fff;
    font-weight: 500;
}
.chatroomcontent h2 {
  font-size: 1.14em ;
  font-weight: 300;
  color: #fff;

}
.chatroomcontent p{
  font-size: 1 em ;
  font-weight: 500;
  color: #fff;
  background-color: inherit;
}
/**/
.marketcontent {
  background-color: #0ca6ee;
  padding: 40px;
  color: #fff;
  font-weight: 300;
}
.marketcontent h2{
  font-size: 1.14em ;
  font-weight: 300;
  color: #fff;
}
.marketcontent p {
  font-size: 1 em ;
  font-weight: 500;
  color: #fff;
  background-color: inherit;
}
/*desktop*/
  .rowcontainer {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    width: 100%;
    margin: 0 auto;
    background-color: #20242c;
  }
  
  .text-column {
    flex: 1;
    padding: 20px;
    padding-left: 40px;
  }
  .text-column h1 {
    font-size: 2em;
    font-weight: 400;
    color: #fff;
    width: 70%;

  }
  .text-column h2 {
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    width: 70%;
  }
  .text-column h3 {
    font-size: 2.5em;
    font-weight: 400;
    color: #000;
  }
  .text-column h4 {
    font-size: 1.2;
    font-weight: 300;
    width: 40%;
  } 
  .text-column p {
    
  } 
  .image-column {
    flex: 1;
    text-align: center;
    padding: 20px;
    width: 510px;
    height: auto;
  }
.image-column img {
    height: flex;
    width: auto;
}
.consultcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: #d2d7db;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  
  .left-column {
    flex: 1;
    padding: 20px;
    font-size: 2em;
    padding-right: 90px;
    width: 60%;
    margin: 0 auto;
  }
  .left-column h1 {
    font-size: 1.0em;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
    padding-left: 80px;
  }
  .left-column p {
    font-size: .60em;
    font-weight: 300;
    padding-left: 80px;
    background-color: inherit;
  }

.right-column {
    flex: 1;
    padding: 20px;
    font-size: 2em;
    padding-right: 60px;
    padding-left: 160px;
    padding-top: 80px;
}
.calendly-widget {
    background-color: #d2d7db;
}
.containertestimonials {
  width: 100%;
  background-color: #ececec;
}
.testimonials {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color:inherit;
    padding-top: 20px;
    align-content: center;
}
.testimonials h1 {
    font-size: 1.8em;
    font-weight: 500;
    width: 80%;
}

.testimonials h2 {
    font-size: 1.4em;
    font-weight: 300;
}
/**/
.testimonialsrow{
  background-color: #d2d7db;
  width: 30%;
  height: 50px;
}

.quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quote-box {
  width: 30%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  float: left;
  padding: 10px;
}

.quote {
  background-color: #d2d7db;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #333;
  margin: 0px;
  padding: 20px;
  font-size: 20px;
  flex: 1;
}

.name {
  background-color: #b4bcc4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #000;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 100%; /* Ensure name fills the entire width of the quote-box */
  text-align: center;
}

/* Reset */
blockquote {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
}

blockquote::after {
  border-color: transparent #d2d7db transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 20px;
  top: 40px;
  content: " ";
  display: flex;
  right: 75%;
  position: relative;
}


/**/

.footer {
  background-color: #17191f;
  padding: 50px;
  color: #fff;
  font-size: 14px;
  width: 100%;
}

.footer p{
    padding: 50px;
    font-size: 14px;
    color: #fff;
    background-color: inherit;

}
  
  .social-icons {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #fff;
      text-decoration: none;
      float: left;
      justify-self: left;  
      background-color: inherit;
  }
  
  .social-icons li {
      display: inline-block;
      margin-right: 1rem;
    }
    
  .social-icons li img {
      display: inline-block;
      margin-right: 1rem;
      width: 24px; /* Adjust width as needed */
      height: 24px; /* Adjust height as needed */
    }
  
  .social-icons img {
          width: 24px; /* Adjust width as needed */
          height: 24px; /* Adjust height as needed */
  }
        
  .social-icons a {
      list-style: none;
      padding: 0;
      margin: 0;
      color: inherit;
      text-decoration: none;
    }
  
  
  
  .bottomfooter{
      display: block;
      width: 40%;
      float: left;
      background-color: inherit;
  
  }
  .containerfooter {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: inherit;
  
  }
  
  .disclaimer{
      display: block;
      float: right;
      width: 55%;
      background-color: inherit;
  }
  .disclaimer p{
    background-color: inherit;
  }
  
  .info {
      display: block;
      text-decoration: none;
      background-color: inherit;
  
  }
  .info a,p,a:hover,a:visited {
      display: block;
      text-decoration: none;
      color: #fff;
      background-color: inherit;
      font-size: 1em;
  
  }
  .contact {
      text-align: left;
      text-decoration: none;
      color: inherit;
  }
  .contact a,p {
      text-align: left;
      text-decoration: none;
      color: inherit;
      background-color: #000;
  }
  .contact a:active, a:hover,a:visited,p {
      text-align: left;
      text-decoration: inherit;
      color: inherit;
  }

  /**/
  #contact1 {
    padding: 50px 0;
    background-color: #fff;
    
  }
  
  .container1 {
    height: auto;
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    right: 10px;
    top: 150px;
    background-color: #fff;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 9999;
    text-decoration: none;
    font-size: 1.4em;
    cursor: pointer;
  }
  .container1 h2{
    color: #000;
    font-size: .8em;
  }
  .contact-info1 {
    margin-bottom: 20px;
    color: #000;
    background-color: inherit;

  }
  .contact-info1 h2{
    color: #000;
  }
  
  .map1 {
    height: 100px;
    margin-bottom: 10px;
    background-color: inherit;
  }
  
  form {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    background-color: #fff;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: inherit;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  buttonS{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: .92em;
    border-radius: 5px;

  }

  /**/
  
    .floating-badge {
      position: fixed;
      right: 20px;
      bottom: 50px;
      background-color: #2db856;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      transition: all 0.3s ease;
      z-index: 9999;
      text-decoration: none;
      font-size: 1.4em;
      cursor: pointer;
  }
  
  .floating-badge:hover {
      background-color: #20242c; /* Darker background on hover */
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      font-size: 1.4em;
      cursor: pointer;
      text-decoration: none;
    
  }
  
  .floating-badge a {
      text-decoration: none;
      color: #fff;
      background-color: inherit;
      font-size: inherit;
  }
  
  .floating-badge a:visited {
      text-decoration: none;
      color: #fff;
      background-color: inherit;
      font-size: inherit;
  }
  
  .floating-badge a:active {
      text-decoration: none;
      background-color: #2db856;
      color: #fff;
      font-size: inherit;
  }

  /***/
.coursecontainer {
  display: flex; /* Use flexbox for efficient layout */
  flex-direction: row; /* Arrange columns horizontally */
  justify-content: space-between; /* Distribute columns evenly with space between */
  width: 80%; /* Ensure the container takes up the full width */
  max-width: 800px; /* Set a maximum width for responsiveness */
  margin: 0 auto; /* Center the container horizontally */
}

.leftcolumn2 { 
  color: #000;
  width: 60%;
  height: auto;
  display: inline-block;
  margin: 0 auto;

}
.rightcolumn2 {
  color: #000;
  width: 50%;
  float: right;
}
.columnA {
    flex: 1;
    padding: 20px;
    display: inline-block;
    width: 100%;
}
/**/
.colcontainer {
  width: 80%;
  margin: auto;
}

.column1 {
  flex: 100%;
  background-color: inherit;
  color: inherit;
}
.column2 {
  flex: 100%;
  background-color: inherit;
  color: inherit;
  /*border: 1px solid black;
  border-radius: 15px;
  border-style: thin;
  width: 40%;*/
}
.column2 p {
  padding: 10px;
  width: 100%;
  font-size: 1em;
  line-height: .5rem;
}
.column3 {
  flex: 50%;
  background-color: inherit;
  color: inherit;
  border: 1px solid black;


}
.column3 p {
  flex: 50%;
  background-color: inherit;
  color: inherit;
  padding: 10px;
  width:  auto;
}
.column4 {
  flex: 50%;
  background-color: inherit;
  color: inherit;
  border-radius: 15px;
  border-style: thin;
}
.faq{
  width: 100%;
  background-color: #ccc;
  padding: 50px;
  padding-bottom: 80px;
}
.faqcontainer {
  max-width: 800px;
  margin: 0 auto;
  /*font-family: Arial, sans-serif;*/
  background-color: inherit;
}
.faqcontainer h1 {
  text-align: center;
}
.faq-item {
  margin-bottom: 10px;
 border: 1px solid #ddd;
  border-radius: 5px;*/
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  cursor: pointer;
  font-weight:600;
  color: #000;
}
.faq-question:hover {
 /* background-color: #b3c6d1;*/
 background-color: #2c89f3;
 color: #fff;
}
.faq-question::after {
  content: '+';
  font-size: 14px;
  font-weight: 200;
  transition: transform 0.3s ease;
  color: #000;
}
.faq-question.active::after {
  content: '-';
  font-size: 18px;
  font-weight: 200;
}
.faq-answer {
  display: none;
  padding: 15px;
  border-top: 1px solid #ddd;
}
.faq-answer h1 {
font-size: ;
color: #000;
font-weight: 400;
}
.faq-answer p {
  color: #000;
  font-weight: 300;
  
}

.faq-answer.show {
  display: block;
}

  /*********************************************MOBILE***************************************************/

  /* Existing CSS remains the same */

/* Add these media queries at the end of your CSS file */

@media screen and (min-width: 320px) and (max-width: 1024px){
  /* iPhone Pro Max 12 width */
  
  * {
    max-width: 100%;
    box-sizing: border-box;
  }
  /*mobile*/
  body {
    font-family:  "Roboto", sans-serif;
    line-height: 1.2;
    color: #000;
    margin: 0;          
    padding: 0;
    font-weight: 400;
}
  /*mobile*/
  .container {
    width: 100%;
     margin: auto;
    overflow: hidden;
    /*background-color: #20242c;*/
}
  /*mobile*/
  .navbar {
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    text-decoration: none;
    font-size: 15px;
}
.navbar a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    background-image: url('#');
    background-size: contain;
    background-repeat: no-repeat;
    background-color:#20242c ;
    z-index: 9999;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: ;
    }
        /*mobile*/

.top{
    position: fixed;
    width: 100%;
    z-index: 9999; /* Lower z-index than navbar */
}
  /*mobile*/

.topticker-widget {
    position: fixed;
    z-index: 9996; /* Lower z-index than navbar */
    width: 100%;
}
  /*mobile*/
  .navlinks {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-image: url('#');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #20242c;
}
.navlinks a:active, a:hover,a:visited  {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-image: url('#');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #20242c;
    z-index: 9999;
    padding-left: 10px;
    padding-right: 15px;
    
}
  /*mobile*/
 
  .logo, .logo a, .logo:hover, .logo:active, .logo a:visited {
    font-size: 1em;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 9999;
    background-color: #20242c;
    color: #fff;

  }
      /*mobile*/

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
    /*mobile*/

.tradingview-widget-container {
    flex-grow: 1;
    width: 100%;
}
    /*mobile*/

.hero{
    width: 100%;
    height: auto;
    background-color: #333;
    margin-top: 10px;
    padding-top: 140px;
    padding-left: 40px;
    padding-bottom: 120px;
    background-image: url(/img/chalkboard.png);*/
    }

.hero h1{
    color: #fff;
    font-size: 2.1em;
    width: 100%;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero p {
    color: #fff;
    font-size: 1em;
    background-image: inherit;
    background-color: inherit;
}
  /*mobile*/
  .button {
    display: inline-block;
    padding: 10px 20px 10px 10px;
    background-color: #2db856;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .5em;
    transition: background-color 0.3s ease-in-out;
  }
  .button a{
    text-decoration: none;
    color: #fff;
    background-color: inherit;
    font-size: inherit;
  }
    /*mobile*/

  .button:hover {
    background-color: #2db856;
  }
  
  .button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    /*border: 1px solid black;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
    border: none;
  }
    /*mobile*/
    .button1 a {
      text-decoration: none;
      color: #fff;
      background-color: inherit;
    }

  .button1:hover {
    background-color: #000;
    border: none;
    color:#fff;
  }
  /*mobile*/
  .button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #20242c;
    color: #fff;
    /*border: 1px solid black;*/
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    border: none;

  }
    /*mobile*/

  .button2:hover {
    background-color: #2db856;
    border: none;
    color: #fff;
  }
  .button3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #20242c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    border: none;
    
  }
  
  .button3:hover {
    background-color: #20242c;
    color: #fff;
  }
  
  .button3 a, .button3 a:active {
    text-decoration: none;
    color: #fff;
    background-color: #20242c;
    font-size: .9em;
  }
  /*mobile*/
  .callrow {
    width: 100%;
    text-align: center;
    padding-top: 40px;
  
}
.callrow h1 {
    font-size: 1.6em;
    color: #000;
    font: "roboto";
    font-weight: 400;

}
.callrow p {
    font-size: 1.4em;
    color: #000;
    text-align: center;
    font-weight: 300;
    background-color: inherit;


}
  /*mobile*/
  .card-container {
    padding: 10px;
    width: auto;
    margin:10px;
    background-image: none;
    background-color:none; /* Light grey background */
    display: block;
  }
.card {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(217, 223, 226);
    float: none;
    height: flex;
    margin: 0 auto;
    flex: none;
    margin-bottom: 10px;
}
.card h1{
    font-size: 1.4em;
    color: #000;
    font-weight: 400 ;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
    width: 100%;
}
.card p{
    font-size: 1.2em;
    color: #000;
    font-weight: 300;
    background-color: inherit;
    width: 100%;
}

/*mobile*/
.card1 {
width: auto;
height: flex;
padding: 20px;
border-radius: 5px;
background-color: rgb(149, 161, 167);
margin-bottom: 10px;

}

.card1 h1{
font-size: 1.4em;
color: #000;
font-weight: 400 ;
/*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}

/**/
.card1 p{
font-size: 1.2em;
color: #000;
font-weight: 300;
background-color: inherit;
}
/**/
.card2 {
width: auto;
height: flex;
padding: 20px;
border-radius: 5px;
background-color: rgb(123, 131, 136);
margin-bottom: 10px;

}

.card2 h1{
font-size: 1.4em;
color: #000;
font-weight: 400 ;
/*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}
.card2 p{
font-size: 1.2em;
color: #000;
font-weight: 300;
background-color: inherit;
}
.card4 {
  width: 100%;
}
.columncontainer column1,.columncontainer column2 {

  flex: 100%;
}
/*mobile*/

@media (max-width: 768px) {
  .bluecolumn {
      flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .bluecolumn {
      flex-basis: 100%;
  }
}
    /*mobile*/

  .rowcontainer {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    width: 100%;
    margin: 0 auto;
    background-color:inherit;
  }
  .rowcontainer2 {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    width: 100%;
    margin: 0 auto;
    background-color: #b4bcc4;
  }
  .text-column {
    flex: 1;
    padding: 20px;
    padding-left: 40px;
    width: 100%;
  }
  .text-column h1 {
    font-size: 2em;
    font-weight: 400;
    color: #000;
    width: 100%;

  }
    /*mobile*/

  .text-column h2 {
    font-size: 1.2em;
    font-weight: 300;
    color: #000;
    width: 100%;
  }
  .text-column h3 {
    font-size: 2.5em;
    font-weight: 400;
    color: #000;
    
  }
  .text-column h4 {
    font-size: 1.2;
    font-weight: 300;
    width: 40%;
  } 
  .text-column p {
    
  } 
  .image-column {
    flex: 1;
    text-align: center;
    padding: 20px;
    width: 510px;
    height: auto;
    display: none;
  }
.image-column img {
    height: flex;
    width: auto;

}
.consultcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: #d2d7db;
    padding-top: 80px;
    padding-bottom: 20px;
  }
    /*mobile*/

  .left-column {
    padding: 20px;
    font-size: 2em;
    padding-right: 90px;
    width: 100%;
    margin: 0 auto;
  }
  .left-column h1 {
    font-size: 1.0em;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
    padding-left: 80px;
  }
  .left-column p {
    font-size: .60em;
    font-weight: 300;
    padding-left: 80px;
    background-color: inherit;
  }

.right-column {
    flex: 1;
    padding: 20px;
    font-size: 2em;
    padding-right: 60px;
    padding-left: 160px;
    padding-top: 80px;
    display: none;
}
  /*mobile*/

.calendly-widget {
    background-color: #d2d7db;
    height: inherit;
}
.testimonials {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 20px;
    padding: 10px;
}
.testimonials h1 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px;
}

.testimonials h2 {
    font-size: 1.4em;
    font-weight: 300;
}
  /*mobile*/
  .testimonialsrow{
  background-color: #d2d7db;
  width: 30%;
  height: 50px;
}

.quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
  padding-bottom: 80px;
}

.quote-box {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  float: left;
  padding: 10px;
  
}

.quote {
  background-color: #d2d7db;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #333;
  margin: 0px;
  padding: 20px;
  font-size: 20px;
  flex: 1;
}

.name {
  background-color: #b4bcc4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #000;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 100%; /* Ensure name fills the entire width of the quote-box */
  text-align: center;
}
  /*mobile*/

/* Reset */
blockquote {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
}

blockquote::after {
  border-color: transparent #d2d7db transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 20px;
  top: 40px;
  content: " ";
  display: flex;
  right: 75%;
  position: relative;
}


  /*mobile*/

.footer {
    background-color: #17191f;
    padding: 50px;
    color: #fff;
    font-size: 14px;
    width: 100%;
  }
  
  .footer p{
      padding: 50px;
      font-size: 14px;
      color: #fff;
      background-color: inherit;
  
  }
    /*mobile*/

  .social-icons {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #fff;
      text-decoration: none;
      float: none;
      justify-self: none;  
      background-color: inherit;
  }
  
  .social-icons li {
      display: inline-block;
      margin-right: 1rem;
    }
    
  .social-icons li img {
      display: inline-block;
      margin-right: 1rem;
      width: 24px; /* Adjust width as needed */
      height: 24px; /* Adjust height as needed */
    }
  
  .social-icons img {
          width: 24px; /* Adjust width as needed */
          height: 24px; /* Adjust height as needed */
  }
        
  .social-icons a {
      list-style: none;
      padding: 0;
      margin: 0;
      color: inherit;
      text-decoration: none;
    }
  
    /*mobile*/

  
  .bottomfooter{
      display: block;
      width: 100%;
      float: left;
      background-color: inherit;
  
  }
  .containerfooter {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: inherit;
  
  }
    /*mobile*/

  .disclaimer{
      display: block;
      float: right;
      width: 100%;
      background-color: inherit;
  }
  .disclaimer p{
    background-color: inherit;
  }
  
  .info {
      display: block;
      text-decoration: none;
      background-color: inherit;
  
  }
  .info a,p,a:hover,a:visited {
      display: block;
      text-decoration: none;
      color: #fff;
  
  }
  .contact {
      text-align: left;
      text-decoration: none;
      color: inherit;
  }
  .contact a,p {
      text-align: left;
      text-decoration: none;
      color: inherit;
      background-color: #000;
  }
  .contact a:active, a:hover,a:visited,p {
      text-align: left;
      text-decoration: inherit;
      color: inherit;
  }
    /*mobile*/

  
    .floating-badge {
      position: fixed;
      right: 20px;
      bottom: 50px;
      background-color: #2db856;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      transition: all 0.3s ease;
      z-index: 9999;
      text-decoration: none;
      font-size: 1.5em;
  }
  
  .floating-badge:hover {
      background-color: #20242c; /* Darker background on hover */
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      transform: translateY(-2px);
  }
  
  .floating-badge a {
      text-decoration: none;
      color: #fff;
  }
  
  .floating-badge a:visited {
      text-decoration: none;
      color: #fff;
  }
  
  .floating-badge a:active {
      text-decoration: none;
      background-color: #2db856;
      color: #fff;
  }
.column3 {
  width: 100%;
  flex: 1;
}
/*mobile*/
.column1 {
  width: 100%;

}
.column2 {
  width: 100%;
  
}
.colcontainer {
  width: 100%;
}
/**/
     /* Mobile Styles */
     @media screen and (max-width: 600px) {
      .faqcontainer {
        margin: 0 auto;  
        padding: 10px;
      }
      h1 {
          text-align: center;
          font-size: 24px;
          margin-bottom: 20px;

      }
      .faq-question {
        display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: #f9f9f9;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
      }
      .faq-question:hover {
        /* background-color: #b3c6d1;*/
        background-color: #2c89f3;
        color: #fff;
       }
            .faq-answer {
                font-size: 14px;
                padding: 12px;
            }

      .faq-question::after {
          font-size: 16px;
      }
      .faq-item {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
    }
      /*mobile*/
  .container1 {
    height: auto;
    max-width: 40%;
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    right: 10px;
    top: 150px;
    background-color: #fff;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 9999;
    text-decoration: none;
    font-size: 1.4em;
    cursor: pointer;
      }

      /*mobile*/
        
  .map1 {
    height: 100px;
    margin-bottom: 10px;
    background-color: inherit;
    display: none;
  }
  buttonS{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: .72em;
    border-radius: 5px;
  }
  }
}